@font-face {
  font-family: 'Simplon Norm';
  src: url('/fonts/SimplonNorm-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('/fonts/SimplonNorm-Medium-WebS.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Simplon Norm';
  src: url('/fonts/SimplonNorm-bold-WebS.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-weight: 700;
}

p {
  font-weight: 400;
  margin: 0;
}

nav a {
  font-weight: 500;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Simplon Norm', sans-serif;
}